
html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
}

.Grid-cell {
	border: 1px dotted #efefef;
}

#header {
	position: fixed;
	display: block;
	  width: 100%;
	  background: #668cb7;
	  color: #fff;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);  
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #668CB7), color-stop(50, #99B2CF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #668CB7 0%, #99B2CF 50%);


}

#text {
	background: white;
	color: black;
	width: 100%;
}

#Submit {
	color: white;
	background: transparent;
}

#confidence {
	background: white;
	color: black;
}

#header > .Grid-cell {
	border: 0px solid #efefef;
}

.footer {
	font-size: 100%;
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	color: #FFF;
	box-shadow: 1px -1px 2px 2px rgba(0,0,0,0.25);	  
	font-size: 1.75em;
	padding: 0.4rem;

	/* http://www.cssportal.com/css-gradient-generator/ */

	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #668CB7), color-stop(50, #99B2CF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #668CB7 0%, #99B2CF 50%);
}

.footer * {
	border: 0px;	
}

.results {
	padding-top: 6em;
	padding-bottom: 10em;
}

.abstract, .categories {
	max-height: 150px;
	overflow: auto;
}

a {
	color: #668cb7;
    	border-bottom: 1px dotted #999;
}

a:focus, a:hover {
    border-bottom: 1px solid #999;
}


#query {
	background: #FFF;
	color: #999;
	width: 100%;
	padding: 5px;
	height: 1.75em;
	border-radius: 8px;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);  
}

#goToOneSearch {
	border: 0;
	padding-right: 1em;
	width: 250px;
	height: 51px;
}

ol, ul {
	list-style: circle;
}

.via-facet a {
	opacity:  70%;
	font-weight: bold;
}

#extracted-entities {
	list-style: none;
}

/* thanks to http://jamesw.me/labs/css3_loading_spinner.html */

.spin {
	position: absolute;
	top: 6px;
	right: 12px;
	
	width: 8px;
	height: 8px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #FFF #DDD #BBB #999;
	border-radius: 40px;
	
	-webkit-animation: spin 1s linear infinite; 
	-moz-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin  
{  
    from { -webkit-transform: rotate(0deg); }  
	50%  { -webkit-transform: rotate(180deg); }  
    to   { -webkit-transform: rotate(360deg); }  
}
@-moz-keyframes spin  
{  
    from { -moz-transform: rotate(0deg); }  
	50%  { -moz-transform: rotate(180deg); }  
    to   { -moz-transform: rotate(360deg); }  
}

@-webkit-keyframes bounce  
{  
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(0deg); opacity: 1; }
	to   { -webkit-transform: rotate(0deg); opacity: 0.4; }

}
@-moz-keyframes bounce  
{  
	from { -moz-transform: rotate(0deg); opacity: 0.6; }
	50%  { -moz-transform: rotate(0deg); opacity: 1; }
	to   { -moz-transform: rotate(0deg); opacity: 0.6; }
}


.graph {
	width: 50px;
	height: 50px;
	border: 1px solid #aeaeae;
	background-color: #eaeaea;
}
.bar {
	width: 8px;
	margin: 1px;
	display: inline-block;
	position: relative;
	background-color: #aeaeae;
	vertical-align: baseline;
}	
	
	
#Xcanvas {
	perspective: 600px;
	transform: rotateY(45deg);

}
	
.right {
	float:  right;
}

.white-text {
	color: #FFF;
}