<!html>
<head>
	<title>Entity Extraction Tool</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<style>
		html, body, * {
			font-family: 'Open Sans', sans-serif;
		}
		#text {width: 50%; height: 200px;}	
		.abstract { font-size: 85%;  margin: 1em;}	
		.categories { font-size: 85%;  margin: 1em; }	
	</style>
</head>
<body>
	<div>
	<form method="post" action='entity-extraction.php'>
		  <div>
		  	<input type="number" size="3" name="confidence" min="0" max="100" step="10" value="50"> Confidence %
		  </div>
		  <div> Text to analyze </div>
		  <div>
			<textarea name="text" id="text"></textarea>
		</div>
		<div>
			<input type=submit name="Submit">
		</div>
	</form>
	</div>
</body>
</html>